In [1]:
import pandas as pd
import warnings
import sklearn

warnings.filterwarnings('ignore')

In [3]:
df = pd.read_csv('18+Adults/Adults_data.csv')
df

    Year Characteristic     Sex  Percent
0   2001          Daily    Male     21.8
1   2004          Daily    Male     19.7
2   2007          Daily    Male     19.1
3   2010          Daily    Male     17.4
4   2013          Daily    Male     15.1
..   ...            ...     ...      ...
58  2007          Never  Person     52.8
59  2010          Never  Person     55.6
60  2013          Never  Person     58.0
61  2016          Never  Person     60.2
62  2019          Never  Person     61.1

[63 rows x 4 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 63 entries, 0 to 62
Data columns (total 4 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Year            63 non-null     int64
 1   Characteristic  63 non-null     object
 2   Sex             63 non-null     object
 3   Percent         63 non-null     float64
dtypes: float64(1), int64(1), object(2)
memory usage: 2.1+ KB